﻿.social-main-group {
    .msg-group {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .lbl-msg {
            margin-right: 390px;
        }
    }

    .msg-opt-group {
        margin: 30px;

        .opt-row {
            display: flex;
            justify-content: space-between;

            .social-type-group {
                width: 100px;
                display: flex;
                align-items: center;

                label {
                    margin-bottom: 0;
                }
            }
        }

        .my-footer {
            text-align: right;
        }
    }
}
