.social-main-group .msg-group {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }
  .social-main-group .msg-group .lbl-msg {
    margin-right: 390px; }
.social-main-group .msg-opt-group {
  margin: 30px; }
  .social-main-group .msg-opt-group .opt-row {
    display: flex;
    justify-content: space-between; }
    .social-main-group .msg-opt-group .opt-row .social-type-group {
      width: 100px;
      display: flex;
      align-items: center; }
      .social-main-group .msg-opt-group .opt-row .social-type-group label {
        margin-bottom: 0; }
  .social-main-group .msg-opt-group .my-footer {
    text-align: right; }

/*# sourceMappingURL=social_style.css.map */
