﻿@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Send Social Message";
}

@*@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))*@
@(await Html.RenderComponentAsync<SocialMsg>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>